.ingresso-container__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.conteudo__QRcode {
    background-image: url('../../img/QRcode/QRcode-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 190px;
}

@media screen and (min-width: 768px) {
    .conteudo__QRcode {
        background-image: url('../../img/QRcode/QRcode-tablet.svg');
        height: 310px;
    }
}

@media screen and (min-width: 1440px) {
    .conteudo__QRcode {
        width: 189px;
        height: 222px;
        background-image: url('../../img/QRcode/QRcode-desktop.png');
    }

    .ingresso-container__conteudo {
        flex-direction: row;
    }

    .conteudo__descricao {
        align-items: flex-start;
    }
}