.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    font-weight: 500;
    background-color: var(--roxo-boreal);
    padding: 1.5rem;
}

.rodape__texto {
    text-align: center;
    line-height: 2.5rem;
}

.rodape__texto--quebra {
    display: none;
}

@media screen and (min-width: 1440px) {
    .rodape {
        flex-direction: row;
        padding: 3.25rem 7.5rem;
        justify-content: space-between;
    }
    
    .rodape__texto {
        width: 330px;
        text-align: left;
    }

    .rodape__texto--quebra{
        display: block;
    }
}